.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.logo {
    text-align: center;
    margin-top: 50px;
}

.logo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
    margin-left: 40px;
}

.logo h1 {
    font-size: large;
    color: #3b3b3b6b;
    margin-bottom: 20px;
}

.previous-btn button {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #ffbfbf;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}