/* login-page */
body::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.top-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 6px;
}

.top-area img {
    width: 22px;
    height: 20px;
}

.top-area a {   
    margin-right: 15px;
}

.main-profile-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main-profile-follow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0 33px 0;
    width: 100%;
    text-align: center;
}

.main-profile-follow h3{
    font-size: 24px;
    margin-bottom: 5px;
}

.profile-img {
    width: 73px;
    height: 73px;
    border-radius: 50%;
    overflow: hidden;
    margin : 0 25px;
    border: 1px solid #dbdbdb;
}

.profile-img img {
    width: 73px;
    height: 73px;
}

.main-profile-follow p{
    font-size: 14px;
    color: #767676;
}

.main-profile-area h2 {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.main-profile-area p {
    font-size: 14px;
    color: #767676;
}

section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 42px;
}

section form input {
    width: 80%;
    border-radius: 30px;
    border: 1px solid #746969;
    padding: 14px;
}

section form input:focus {
    outline: 1px solid #ffbfbf;
    border: 1px solid #ffffff00
}

section form .email {
    margin-bottom: 30px;
}

.login-warn {
    width: 80%;
    color: #eb5757 !important;
    margin-top: 6px;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    opacity: 0;
}

.regist-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.regist-btn a {
    color: #767676;
    font-size: 12px;
}

.talk-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0 13px 0;
}

.follow-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-btn button {
    width: 110px;
    height: 44px;
    border-radius: 30px;
    outline: none;
    background: #ffbfbf;
    border: none;
    color :#fff;
    font-size: 14px;
}

.product-list {
    display: flex;
    flex-direction: column;
    padding: 17px;
    border-top: 1px solid #dbdbdb;
}

.product-list-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 14px;
}

.product-area {
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.product-area::-webkit-scrollbar {
    display: none;
}

.product-item {
    display: block;
    width: 150px;
    height: 132px;
    margin-right: 10px;
}

.item-img {
    width: 140px;
    height: 88px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
}

.product-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.product-item p {
    color: #F26E22;
    font-size: 14px;
    padding-left: 3px;
}

.product-item h3 {
    font-size: 18px;
    color: #303030;
    font-weight: bold;
}

.post-view {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 7px 6px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.post-view button {
    outline: none;
    background: #fff;
    border: none;
    margin-right: 16px;
}

.post-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 16px;
}

.post-section-left {
    padding: 1px;
}

.post-section-center {
    padding: 10px;
}

.post-section-center h3{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 30px;
}

.post-section-center textarea{
    width: 100%;
    border: none;
    font-size: 14px;
}

.post-img{
    padding: 10px;
}

.post-img-set{
    padding: 1px;
}

.post-section-right {
    padding: 1px;
}
