/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'IBM Plex Sans KR', sans-serif;
}
a {
    text-decoration: none;
    color: #030303;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper{
    width: 100%;
}
/* 라벨 숨기기 */
.sr-only {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
}
/* tab-menu */
.tab-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #DBDBDB;
    background-color: #fff;
    z-index: 10;
}

.tab-menu-elements {
    width: calc(100% - 12px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 14px;
    align-items: flex-end;
    text-align: center;
}

.tab-menu-elements li {
    width: 84px;
    cursor: pointer;
}

.tab-menu-elements li a {
    position: relative;
    display: inline-block;
    font-size: 10px;
    width: 100%;
    padding: 44px 1px 6px 0;
}

.tab-menu-elements li a::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 30px;
    background-size: contain;
}

.tab-menu-elements .tab-menu-home a::before {
    background-image: url(../img/home_icon.png);
}
.tab-menu-elements .tab-menu-chat a::before {
    background-image: url(../img/message_icon.png);
}
.tab-menu-elements .tab-menu-post a::before {
    background-image: url(../img/edit_icon.png);
}
.tab-menu-elements .tab-menu-profile a::before {
    background-image: url(../img/user_icon.png);
}
.tab-menu-home.on a::before {
    background-image: url(../img/home_icon_fill.png);
}
.tab-menu-chat.on a::before {
    background-image: url(../img/message_icon_fill.png);
}
.tab-menu-profile.on a::before {
    background-image: url(../img/user_icon_fill.png);
}

.tab-menu-home.on a,
.tab-menu-chat.on a,
.tab-menu-profile.on a {
    color: #ffbfbf;
}
