/* search page */

.wrapper {
    overflow: hidden;
}

.prev-button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.search {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.userSearch {
    margin-right: 4px;
    padding: 7px 16px;
    width: 60%;
    min-width: 316px;
    border: none;
    background: #F2F2F2;
    border-radius: 32px;
    cursor: pointer;
}

.userSearch::placeholder {
    color: #c4c4c4;
}

.userSearch:focus {
    outline: 2px solid #ffbfbf;
}


/* js css */
.container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.container .profileImg {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    display: block;
}

.container .nickname {
    width: 40px;
    margin-left: 10px;
}